/* Código de Botones Independientes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: none; /* Sin fondo degradado */
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#btnMochila, #btnHerramientas, #btnChat {
  position: fixed;
  background: #ffcc00;
  color: white;
  padding: 0px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 10000; /* Asegura que los botones estén por encima del canvas */
}

#btnMochila {
  top: 10px;
  right: 10px;
  background: #008f39;
}

#btnHerramientas {
  top: 10px;
  left: 10px;
}

/* Botón Chat en la parte inferior derecha */
#btnChat {
  bottom: 10px;
  right: 10px;
}

#inventario, #herramientas {
  position: fixed;
  top: 50px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  max-height: 50vh;
  overflow-y: auto;
  display: none;
  width: 200px;
}

#chat {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: none;
  width: 95%;
  height: 95%;
  z-index: 9999;
}

#inventario.mostrar, #herramientas.mostrar, #chat.mostrar {
  display: block;
}